@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
}

.container {
  position: relative;
  width: 400px;
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.container h1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.input-box {
  position: relative;
  margin-bottom: 25px;
}

.input-box input {
  width: 100%;
  padding: 12px 40px 12px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  transition: 0.3s ease;
}

.input-box input:focus {
  border-color: #6c63ff;
  box-shadow: 0 0 5px #6c63ff;
}

.input-box i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 20px;
}

.forgot-link {
  text-align: right;
  margin-bottom: 20px;
}

.forgot-link a {
  color: #6c63ff;
  font-size: 14px;
  text-decoration: none;
}

.forgot-link a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  background: #6c63ff;
  color: #fff;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #574fd6;
}
/*Boton de visualizar contraseña*/
.input-box .toggle-password {
  position: absolute;
  right: 40px; /* Ajusta para que no choque con el icono de candado */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #666;
  user-select: none;
}
